@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=EB+Garamond&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(azure, aqua, azure);
    height: auto;
    text-align: center;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'EB Garamond', serif;
    font-size: 562%;
    color: #66BFBF;
    line-height: 2;
}
h2 {
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3, a {
    color: #11999E;
}
p{
    line-height: 2;

}
hr{
    margin: 100px auto;
    max-width: 4%;
    border: none;
    border-top: dotted 10px  grey;
}
#navBar{
    position: fixed;
    /* text-align: center; */
    padding-left: 5px;
    background-color: transparent;
    border-bottom-right-radius: 50px;
    height: 20px;
    width: 60px;
    top: 0px;
    left: 0px;
}

#cvName {
    margin-top: 7%;
    /* margin-bottom: 1%; */
}

#top-container {
    height: 100vh;
    /* position: relative; */
    text-align: center;
}
#top-cloud{
    position: absolute;
    top: 40px;
    right: 300px;
    /* margin-top: 5%;
    margin-bottom: -6%;
    margin-left: -43%; */
}
#mid-cloud{
    position: absolute;
    top: 400px;
    left: 250px;
    /* margin-left: 37%;
    margin-top: 5%;
    margin-bottom: -7%; */
}

#city-image {
    display: flex;
    height: 40%;
    margin-top: 9%;
    background-image: url("/cv/images/hongkong.png");
    background-repeat: no-repeat;
    background-position: center;
}
.middle-container{
  padding: 10px 0px 100px 0px;
}
.skill-row{
    margin: 200px auto 200px auto;
    text-align: left;
    width: 50%;
}
.intro{
    width: 30%;
    margin: auto;
}
.skillOneImg{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skillTwoImg{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.sektion{
    margin-top: 5%;
    line-height: 2;
    padding: 30px;
}
.bottom-container{
  background-color: #66bfbf;
  line-height: 2;
}
.contact-text{
    width: 40%;
    margin: auto;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 23px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
    margin: 100px auto 100px auto;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }